.backgroundPic {
    display: inline-block;
    position: relative;
    width: 102%;
    height: 100%;
    right: 1%;
}
header {
    position: fixed;
    border: 5px solid rgb(24, 167, 24); 
    background-color: rgb(24, 167, 24);
    margin: 0%;
    padding: 0%;
    width: 100%;
    right: 0%;
    top: 0%;
    color: ghostwhite;
    text-decoration: transparent;
}
header > h1 {
    position: absolute;
    left: 40%;
    padding-bottom: 4px;
    font-family: fantasy;
    font-style: italic;
}
.hImg {
    width: 5%;
    float: left;
    padding-left: 2%;
}
.oCash {
    position: absolute;
    border: 3px solid white;
    background-color: orangered;
    padding: 5px;
    margin-top: 3px;
    width: 7%;
    left: 89%;
    color: white;
    text-align: center;
}
body {
    background-image: url(img/IMG_0850.jpeg);
}
.navS {
    display: block;
    position: absolute;
    border: 5px solid red;
    background-color: red;
    width: 16%;
    
    height: 55%;
    z-index: 6;
    bottom: 25%;
    left: 1%;
    text-align: center;
    color: white;
}
}
.location {
    display: block;
    position: relative;
    border: 2px solid white;

}
#hTable {
    font-size: 40px;
    text-decoration: underline;
}
.hours {
    display: block;
    position: relative;
    border: 2px solid white;

}
table, th, tr, td {
    border: 3px solid white;
}
#hoursT {
    margin-left: 17px;
    margin-bottom: 5px;
}
.ordertg {
    display: block;
    position: relative;
    border: 2px solid white;
}
#otg {
    font-size: 40px;
    text-decoration: underline;
}
#phoneN {
    font-size: 20px;
    text-shadow: 2px black;
}