html {
    margin: 0;
    top: 0;
    right: 0;
}
.backgroundPic {
    display: inline-block;
    background-image: url(img/IMG_0850.jpeg);
    background-color: lightblue;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
header {
    position: fixed;
    border: 5px solid rgb(24, 167, 24); 
    background-color: rgb(24, 167, 24);
    margin: 0%;
    padding: 0%;
    width: 100%;
    right: 0%;
    top: 0%;
    color: ghostwhite;
    text-decoration: transparent;
    z-index: 1;
}
header > h1 {
    position: absolute;
    left: 40%;
    padding-bottom: 4px;
    font-family: fantasy;
    font-style: italic;
}
.hImg {
    width: 5%;
    float: left;
    padding-left: 2%;
}
.oCash {
    position: absolute;
    border: 3px solid white;
    background-color: orangered;
    padding: 5px;
    margin-top: 3px;
    width: 7%;
    left: 89%;
    color: white;
    text-align: center;
}
.nav {
    position: fixed;
    border: 5px solid rgb(238, 241, 7);
    background-color: rgb(238, 241, 7);
    margin: 0%;
    padding: 0%;
    width: 100%;
    right: 0%;
    top: 8%;
    color: black;
    text-align: center;
    z-index: 1;
    text-decoration: underline;
}
#loca {
    display: inline-block;
    position: relative;
    right: 20%;
    text-decoration: underline;
}
#contact {
    display: inline;
    position: relative;
    
}
#mission {
    display: inline;
    position: relative;
    left: 20%;
}


.mainC {
    display: block;
    position: absolute;
    border: 6px solid rgb(24, 167, 24);
    background-color: rgba(231, 190, 7, 0.76) ;
    opacity: 6;
    width: 55%;
    height: 75%;
    bottom: 2%;
    left: 20%;
    text-align: center;
}
.breakF {
    display: inline-block;
    position: relative;
    border: 2px solid white;
    background-color: white;
    text-align: left;
    width: auto;
    height: auto;
    right: 6%;
}
#bfastH {
    border: 1px solid rgb(24, 167, 24);
    background-color: rgb(24, 167, 24);
    font-style: oblique;
    text-align: center;
    color: rgb(238, 241, 7) ;
    padding: 5px;
    text-decoration: underline;
}
#english {
    font-style: oblique;
    font-style: italic;
    color: gray;

}
.breakP {
    display: inline-block;
    position: relative;
    border: 6px solid white;
    background-color: white;
    left: 6%;
    width: auto;
    height: 155px;
}
#platesH {
    border: 1px solid rgb(24, 167, 24);
    background-color: rgb(24, 167, 24);
    font-style: oblique;
    text-align: center;
    padding: 5px;
    color: rgb(238, 241, 7);
    text-decoration: underline;
}
#platesR {
    text-align: left;
    font-size: medium;
    line-height: 30px;    
}
#footer {
    position: fixed;
    border: 5px solid rgb(238, 241, 7); 
    background-color: rgb(238, 241, 7);
    margin: 0%;
    padding: 0%;
    width: 100%;
    right: 0%;
    top: 93%;
    color: black;
    text-align: center;
    z-index: 1;
}
#missionS {
    position: absolute;
    display: inline-block;
    border: 5px solid rgba(231, 190, 7, 0.76);
    background-color: rgb(24, 167, 24);
    bottom: 17%;
    left: 78%;
    height: auto;
    top: 40%;
    right: 2%;
}














.siteI {
    display: block;
    position: absolute;
    border: 5px solid red;
    background-color: red;
    width: 16%;
    height: auto;
    bottom: 10%;
    bottom: 19%;
    text-align: center;
    color: white;
}
.location {
    display: block;
    position: relative;
    border: 2px solid white;   
}
.map {
    color: white;
    font-size: 40px;
}
#hTable {
    font-size: 40px;
    text-decoration: underline;
}
.hours {
    display: block;
    position: relative;
    border: 2px solid white;
    padding-bottom: 5px;
}
#hoursT {
    margin-right: 19px;
    margin-left: 17px;
    margin-bottom: 5px;
    padding-right: 15px;
    border: 3px solid white;
    background-color: rgb(24, 167, 24);
 
}
.ordertg {
    display: block;
    position: relative;
    border: 2px solid white;
}
#otg {
    font-size: 40px;
    text-decoration: underline;
}
#phoneN {
    font-size: 20px;
    text-shadow: 2px black;
    text-decoration: underline;
}
.addr {
    font-style: italic;
    font-weight: bold;
}
