html {
    margin: 0;
}
.nav-bar {
    position: fixed;
    border: 5px solid skyblue; 
    background-color: skyblue;
    margin: 0%;
    padding: 0%;
    width: 100%;
    right: 0%;
    top: 0%;
    color: indianred;
    text-decoration: transparent;
    z-index: 1;
}
.about {
    display: inline-block;
    position: relative;
    left: 74%;
    text-decoration: underline;
}
.mBlog {
    display: inline-block;
    position: relative;
    left: 39%;
    text-decoration: underline;
}
.home {
    position: relative;
    text-decoration: underline;
    left: 50px;
}

.blogs {
    border: 5px solid lightsteelblue;
    background-color: lightgrey;
    width: auto;
    height: auto;
    margin: 0%;
    padding: 0%;
    right: 0%;
    top: 0%;
    margin-top: 20px;
}
.blog {
    display: block;
    border: 1px solid rgba(255, 0, 0, 0.493);
    background-color: rgba(255, 0, 0, 0.493);
    margin: 5%;
    padding: 8%;
    text-align: left;
}
.img {
    display: block;
    height: 50%;
    width: 40%;
    float: left;
    left: 3%;
}
.bheader, .bdate, .bcontent {
    display: block;
    position: relative;
    padding-left: 47%;
}
h6 {
    font-family: fantasy;
    font-weight: lighter;
}
p {
    font-size: 20px;
    font-weight: 500;
}
h1 {
    text-transform: capitalize;
}


